.DS_Store
.idea
.vscode
*.log
.vs

# win proj config
/Build/Window/CMakeFiles/
/Build/Window/Phoneix/
/Build/Window/CMakeCache.txt
/Build/Window/cmake_install.cmake
/Build/Window/x64
/Build/Mac/CMakeCache.txt
/Build/Mac/CMakeScripts
/Build/Mac/SkySnow3D.build
/Build/Mac/Source
/Build/Mac/CMakeFiles
/Build/Mac/cmake_install.cmake
