.DS_Store
.idea
.vscode
*.log
*.vs

# win proj config
/Build/Window/CMakeFiles/
/Build/Window/include/
/Build/Window/Source/
/Build/Window/CMakeCache.txt
/Build/Window/cmake_install.cmake
/Build/Window/x64
